.App {
  font-family: sans-serif;
  text-align: center;
}

.App input {
  width: 80%;
  padding: 1rem;
}

.allEmoji {
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.emoji-meaning {
  background-color: lightblue;
  font-size: 1.5rem;
}
