@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0;
    padding: 0;
}

.container-box {
    text-align: center;
    font-family: Poppins;
    margin: 0 auto;
    margin-top: 6rem;
    height: 73vh;
    width: 550px;
    padding-top: 2rem;
    border: 3px solid #14b8a6;
    background-color: #f3f4f6;
    border-radius: 2rem;
  }

h1{
    margin: 2rem;
    color: #0d9488;
}

p{
    font-size: x-large;
    margin: 0.5rem;
}

input{
    text-align: center;
    font-size: x-large;
    margin: 1rem;
    padding: 0.8rem 0.5rem;
    border-radius: 1rem;
    border: 2px solid #14b8a6;
}

button{
    margin: 1.5rem;
    font-size: 25px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: white;
    background-color: #0d9488;
    border: 0px;
    cursor: pointer;
}

.output{
    text-shadow: 2px 2px 8px #14b8a6;
    padding-top: 0.5rem;
}