@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0;
    padding: 0;
}

.container-box {
    text-align: center;
    font-family: Poppins;
    margin: 0 auto;
    margin-top: 10rem;
    height: 50vh;
    width: 550px;
    padding-top: 2rem;
    border: 3px solid #818cf8;
    background-color: #f3f4f6;
    border-radius: 2rem;
  }

h1{
    margin: 2rem;
    color: #8b5cf6;
}

p{
    font-size: x-large;
    margin: 1rem;
}

input{
    font-size: x-large;
    margin: 1rem;
    padding: 0.8rem 1.8rem;
    border-radius: 1rem;
    border: 2px solid #818cf8;
}

button{
    margin: 1rem;
    font-size: 25px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: white;
    background-color: #8b5cf6;
    border: 0px;
    cursor: pointer;
}

.output{
    text-shadow: 2px 2px 8px #8b5cf6;
    padding-top: 1rem;
}